{% extends "flashcards/base.html" %}
{% load bootstrap4 %}

{% block content %}

  <form method="post" action="{% url 'users:register' %}">
    {% csrf_token %}

    <div class="form-group">
      <label for="id_username">Username</label>
      <input type="text" name="username" maxlength="50" autofocus 
      class="form-control" placeholder="Username" title="" required 
      id="id_username" />
    </div>

    <div class="form-group">
      <label for="id_password1">Password</label>
      <input type="password" name="password1" class="form-control" 
      placeholder="Password" title="" required id="id_password1" />
      <small class="form-text text-muted">
        <ul>
          <li>Your password can&#39;t be too similar to your other personal 
          information.</li>
          <li>Your password must contain at least 8 characters.</li>
          <li>Your password can&#39;t be a commonly used password.</li>
          <li>Your password can&#39;t be entirely numeric.</li>
        </ul>
      </small>
    </div>
    
    <div class="form-group">
      <label for="id_password2">Password confirmation</label>
      <input type="password" name="password2" class="form-control" 
      placeholder="Password confirmation" title="" required 
      id="id_password2" />
      <small class="form-text text-muted">
        Enter the same password as before, for verification.
      </small>
    </div>

    {% buttons %}
      <button name="submit">Register</button>
    {% endbuttons %}
    <input type="hidden" name="next" value="{% url 'flashcards:index' %}" />
  </form>

{% endblock content %}