{% extends "flashcards/base.html" %}
{% load bootstrap4 %}

{% block content %}
  <div class="jumbotron">
    <div>
      <h4>About this webpage</h4>
      This page is originally written for fun and educational purpose, aimed to 
      help myself getting started on recognizing characters in Asian 
      (specifically Buddhist) calligrapy.
      When I showed it to people around me I received enthusiastic reactions so
      I decided to improve usability and keep it online. <br /><br />
      The inspiration for making this page came entirely from reading 
      <a href="https://www.amazon.com/Heart-Brush-Splendor-Asian-Calligraphy/dp/1611801346">
      Heart of the Brush: The Splendor of East Asian Calligraphy</a> by Kaz 
      Tanahashi.
      The book displays wonderful calligraphy based on 150 characters, which 
      formed the curriculum for this page. <br />
      For beginning to learn reading Chinese characters, I would recommend 
      <a href="https://www.amazon.com/Chineasy-New-Way-Read-Chinese/dp/0062332090/">Chineasy: The New Way to Read Chinese</a> by the wonderful 
      <a href="https://www.youtube.com/watch?v=troxvPRmZm8">ShaoLan Hsueh.</a>
      <br />
      <br />
      This page is written and maintained by 
      <a href="https://www.linkedin.com/in/maartenfugers/">Maarten Fugers</a>.
      If you have questions or comments, please send me a message on LinkedIn!
    </div>
    <br />
    <a class="btn btn-secondary btn-block" href="{% url 'flashcards:index' %}" role="button">
      Back
    </a>
  </div>
{% endblock content %}