{% extends "flashcards/base.html" %}
{% load bootstrap4%}

{% block content %}
  <div class="formgroup">
    <form action="{% url 'flashcards:edit' level.id %}" method = 'post'>
      {% csrf_token %}

      <input type="text" name="name" maxlength="200" value="{{ level.name }}" 
      class="form-control" />

      <textarea name="text_rep" rows="10" maxlength="2000" 
      class="form-control">{{ text_rep }}</textarea>
      
      <button name="submit" class="form-control btn-primary btn-block mt-3 mb-3">
        Submit
      </button>

    </form>
  </div>

{% endblock content %}