{% extends "flashcards/base.html" %}
{% load bootstrap4 %}
{% load fontawesome %}

{% block content %}
  {% if prev_question %}
    {% if prev_question.correct == True %}
      {% fontawesome_icon 'check-circle' color='green' large=True %}
    {% else %}
      {% fontawesome_icon 'times-circle' color='red' large=True %}
    {% endif %}
    {{ prev_question.question.question }} = {{ prev_question.question.answer }}
  {% else %}
    <br />
  {% endif %}
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      {% if level %}
        <h4>You've finished: {{ level.name }}</h4>
      {% endif %}
      
      <h1>Score: {{ score }}/{{ potential_score }}</h1>
      <h1>{{ award }}</h1>
      <a class="btn btn-primary" href="{% url 'flashcards:index' %}" role="button">
        Back
      </a>
    </div>
  </div>
{% endblock content %}