{% extends "flashcards/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block content %}
<div class="card borders-0 rounded-0 card-top-image">
  <img class="card-img img-fluid" src="{% static 'flashcards/freeimage-13680082-web.jpg' %}" 
  alt="background image">
  <div class="card-img-overlay">
    <br /><br /><br /><br /><br /><br /><br /><br />
    <a class="btn btn-primary btn-block" href="{% url 'flashcards:select_level' %}" 
    role="button">
        Start quiz
    </a>
    <a class="btn btn-secondary btn-block" href="{% url 'flashcards:practice' %}" 
      role="button">
      Random practice
    </a>
    {% if user.is_authenticated %}
      <a class="btn btn-secondary btn-block" href="{% url 'users:logout' %}" 
      role="button">
        Log out {{ user.username }}
      </a>
    {% else %}
      <a class="btn btn-secondary btn-block" href="{% url 'users:register' %}" 
      role="button">
        Register
      </a>
      <a class="btn btn-secondary btn-block" href="{% url 'users:login' %}" role="button">
        Log in
      </a>
    {% endif %}
    <a class="btn btn-secondary btn-block" href="{% url 'flashcards:about' %}" 
      role="button">
      About
    </a>
    {% if user.is_staff %}
      <form action="{% url 'flashcards:select_level' %}" method = 'post'>
      {% csrf_token %}
      <div class="formgroup">
        <input type="hidden" name="next_page" value = "edit">
        <button name="submit" class="btn btn-dark btn-block mt-2 mb-2">
          Edit
        </button>
      </div>
    {% endif %}
  </div>
</div> 
{% endblock content %}